* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.right_container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.margin_btns {
  margin-right: 16px;
}
.nbr_of_products_basket {
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute !important;
  top: 0;
  color: green;
  right: 0;
  background-color: red !important;
}
@media screen and (max-width: 800px) {
  .margin_btns {
    margin-right: 0;
  }
  .margin_btns button {
    font-size: 0.8rem;
  }
}
